# Python
bookmark-backend/venv/
bookmark-backend/__pycache__/
bookmark-backend/*.pyc
bookmark-backend/bookmarks.db

# Node
bookmark-web-client/node_modules/
bookmark-web-client/dist/

# Env
.env.local
.env
